# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.out
*.npy

# large files
3D_figures_multiprocessed/eigvecs_sign_flips_0.out
3D_figures_multiprocessed/eigvecs_sign_flips_1.out

# Repository folder
Arrowhead/

# OS specific files
.DS_Store
Thumbs.db

# Output files
deprecated_susnyas/
new_eszter.py
ignore.txt
arithmetics_pandas.xlsx
arithmetics_polars.xlsx
ssh/
3D_figures/
3D_figures_multiprocessed/
eigenvals_vs_basis1_basis2/
eigenvals_vs_basis1_basis2_centered_R_0/
eigenvals_vs_basis1_basis2_all_gap_plots/
energy_gap_plots/
energy_gap_plots_all/
eigenvals_vs_basis1_basis2_for_d/plots/surface
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_surfaces_c_0.1_x_0.1_d_0.2.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/state_0_surface_plot_c_0.1_x_0.1_d_0.2.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/state_1_surface_plot_c_0.1_x_0.1_d_0.2.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/state_2_surface_plot_c_0.1_x_0.1_d_0.2.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/state_3_surface_plot_c_0.1_x_0.1_d_0.2.png
eigenvals_vs_basis1_basis2_for_d/plots/3D_plot_angle_300_c_0.1_x_shift_0.1_d_0.01.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_330_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_300_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_270_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_240_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_210_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_180_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_150_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_120_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_090_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/3D_plot_c_0.1_x_shift_0.1_d_0.01.png
eigenvals_vs_basis1_basis2_for_d/plots/3D_plot_angle_330_c_0.1_x_shift_0.1_d_0.01.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined/combined_surface_plot_c_0.1_x_0.1_d_0.01.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_000_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_060_deg.png
eigenvals_vs_basis1_basis2_for_d/plots/surfaces/combined_rotating/rotated_view_030_deg.png
berry_phase_with_tau_and_gamma/eigvecs_sign_flips_1.out
