# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# large files
3D_figures_multiprocessed/eigvecs_sign_flips_0.out
3D_figures_multiprocessed/eigvecs_sign_flips_1.out

# Repository folder
Arrowhead/

# OS specific files
.DS_Store
Thumbs.db

# Output files
deprecated_susnyas/
new_eszter.py
ignore.txt
arithmetics_pandas.xlsx
arithmetics_polars.xlsx
ssh/
3D_figures/
3D_figures_multiprocessed/